<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<div id="create-btn">
    <a href="new">Create new note!</a>
</div>
<div id="table-divs">
    <table border="1">
        <thead>
        <tr>
            <td>First name</td>
            <td>Second name</td>
            <td colspan="5">Note</td>
            <td>Actions</td>

        </tr>
        </thead>
        <tbody>

        <tr th:each="note: ${notes} ">
            <td th:text="${note.user.firstName}">First Name</td>
            <td th:text="${note.user.secondName}">Second Name</td>
            <td colspan="5" th:text="${note.text}">Note</td>
            <td th:text="${note.user.age}">Age</td>

            <td>
                <a th:href="@{'/edit/'}">Edit</a>
                <a th:href="@{'/delete/'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>